/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}

/* El elemento header tendrá una imagen de fondo */

header {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

 h1 {
    font-size: 3rem;
}
p {
    font-size:large;
    margin-right: 15%;
    text-align: justify;
} 

.letranegrita {
    font-weight: bold;
}

#contenedorheader { 
    display: grid; 
    grid-template-areas: "area1 area2 area3 area4 area5";
    column-gap: 1%;
    margin-left: 6%;
    margin-right: 7%;
  }


#titulo1 {
    margin-top: 30%;
}

#titulo2 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.caja1 {
    margin-top: 180%;
   }

#uno {grid-area: area1;}
#dos {grid-area: area2;;}
#tres {grid-area: area3;}
#cuatro {grid-area: area4;}
#cinco {grid-area: area5;}


#contenedorimagenes { 
    display: grid; 
    grid-template-areas: "cuadro1 cuadro2 cuadro3 cuadro4 cuadro5";
    column-gap: 7%;
    margin-left: 6%;
    margin-right: 7%;
  }

#imagen1 {grid-area: cuadro1;}
#imagen2 {grid-area: cuadro2;}
#imagen3 {grid-area: cuadro3;}
#imagen4 {grid-area: cuadro4;}
#imagen5 {grid-area: cuadro5;}

h2 {
    margin-left: 6%;
}

.imagentop {
    /* float: left; */
    /* width: 100px; */
    /* height: 100px; */
    width: 6rem;
    /* margin-right: 1em; */
    border: white 1rem solid;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);    
}

.imagenbottom {
    /* width: 200px; */
    width: 10rem;
    /* height: 200px; */
    /* margin-right: 1em; */
    border: white 1rem solid;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}
