/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}

.figurapequenas {
    width: 100px;
    height: 140px;
    margin-right: 1em;
    border: white 1rem solid;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);    
}

.figuragrande {
    width: 250px;
    height: 250px;
    border: white 1rem solid;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
}

#contedorprincipal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 9%;
    margin-right: 9%;
}

#seccion-imagengrande {
    padding: 4%;
}

#texto {
    padding: 4%;
    text-align: justify;
}

.letranegrita {
    font-weight: bold;
}

#seccion-imagenpequena {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 2%;
    gap: 2rem;
    border-left: 3px solid red;
}

#titulos {
    margin-top: 2%;
    margin-left: 10%;
}

#publicacion {
    text-align: right;
}